.logo {
  width: 150px;
}

.hooks {
  display: flex;
  gap: 30px;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgb(255, 255, 255);

    &:hover {
      color: #838383;
    }
  }
  .media-logo {
    svg {
      &:hover {
        transition: transform 150ms;
        transform: scale(1.1);
      }
    }
  }
}

.media {
  display: flex;
  gap: 15px;

  a {
    svg {
      width: 24px;
    }
  }
}

.body {
  width: 85%;

  .first-session {
    display: flex;
    width: 100%;
    height: 65vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .presentation-content {
      max-width: 840px;
    }

    h2 {
      font-weight: 700;
      font-size: 54px;
      margin: 0;
    }

    div {
      margin-top: -70px;
    }

    .name {
      font-weight: 700;
      font-size: 54px;
      padding: 0;
      background: linear-gradient(
        90deg,
        rgba(19, 176, 245, 1) 0%,
        rgba(231, 15, 170, 1) 100%
      );
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  .about {
    display: flex;
    width: 100%;
    height: 55vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .about-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 1080px;
      justify-content: space-between;
    }

    .text-about {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 520px;
      justify-content: center;
    }

    .avatar {
      display: flex;
      width: 350px;
      height: 350px;
      min-width: 350px;
      justify-content: center;
      align-items: center;
      border-radius: 80px 25px;
      background: rgb(19, 176, 245);
      background: linear-gradient(
        0deg,
        rgba(19, 176, 245, 1) 0%,
        rgba(231, 15, 170, 1) 100%
      );
      img {
        width: 335px;
        height: 335px;
        border-radius: 80px 25px;
      }
    }

    h2 {
      font-family: Poppins;
      margin-bottom: 20px;
      font-size: 35px;
    }
    p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 8px;
    }
    a {
      font-family: Poppins;
      font-weight: 500;
      font-size: 15px;
      text-decoration: underline;
      color: #e70faa;
    }
  }

  .second-session {
    display: flex;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    h2 {
      color: var(--solid-heading-dark-mode, #ccc);
      text-align: center;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
    }

    .tech-stack {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
      width: 800px;
      gap: 80px;

      svg {
        width: 120px;
        height: 120px;

        &:hover {
          transition: transform 150ms;
          transform: scale(1.1);
        }
      }
    }
  }

  .third-session {
    width: 100%;
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: center;

    .projects-container {
      width: 100%;
      max-width: 1200px;
    }

    .title-third {
      color: var(--solid-heading-dark-mode, #ccc);
      text-align: center;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
    }
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 70px;
      width: 100%;
      gap: 30px;
    }
  }
}

.footer {
  display: flex;
  width: 100%;
  height: 280px;

  .nav-footer-container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 45px;
  }

  .footer-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .container-contact {
    display: flex;
    width: 80%;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #42446e;
    padding-top: 30px;
    margin-top: 60px;
    padding-bottom: 15px;
  }

  .container-content {
    display: flex;
    flex-direction: row;
    min-width: 550px;
    max-width: 550px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    p {
      padding: 0;
    }
  }
}

@media (max-width: 890px) {
  .body {
    padding-top: 30px;

    .first-session {
      flex-direction: column-reverse;
      height: 90vh;

      h2 {
        font-size: 38px;
      }

      .name {
        font-size: 38px;
      }

      .avatar {
        width: 320px;
        height: 320px;
        min-width: 320px;
        img {
          width: 305px;
          height: 305px;
          border-radius: 50%;
        }
      }
    }

    .second-session {
      width: 100%;
      margin: 10vh 0;

      .tech-stack {
        width: 100%;
        gap: 50px;

        svg {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .footer {
    overflow: hidden;
    height: auto;
    margin-bottom: 20px;

    .container-contact {
      flex-direction: column;
      padding-bottom: 20px;
      height: 130px;

      .container-content {
        flex-direction: column;
        margin: 15px;
      }
    }

    .nav-footer-container {
      display: flex;
      height: 12vh;
      margin-top: 10px;
    }

    nav {
      flex-direction: column;
      margin: 20px 0;
      gap: 15px;
      align-items: center;
    }
  }
}
