#container-tech {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  background-color: #363636;

  svg {
    width: 100px;
    height: 100px;
  }

  .technology-name {
    h2 {
      font-size: 20px;
    }
  }
}

@media (max-width: 800px) {
  #container-tech {
    width: 150px;
    height: 150px;

    svg {
      width: 70px;
      height: 70px;
    }

    .technology-name {
      h2 {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 380px) {
  #container-tech {
    width: 120px;
    height: 120px;
    border-radius: 12px;

    svg {
      width: 55px;
      height: 55px;
    }

    .technology-name {
      h2 {
        font-size: 15px;
      }
    }
  }
}
